* {
    box-sizing: border-box;
}

body {
    background-color: #fcebb6;
    color: #221811; /*text colr*/
    font-family: Verdana, Arial, sans-serif;
    background-image: url('javajam img/background.gif');
}

header {
    background-color: #d2b48c;
    height: 150px;
    background-image: url('javajam img/javajamlogo.jpg');
    background-repeat: no-repeat;
    display: block;
}

h1 {
    /*line-height: 200%; line spacing*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left; /*to float the element on the left side of the cont*/
    width: 200px;
    display: block;
}

footer {
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811; /*width style color*/
    display: block;
}

#wrapper {
    width: 80%; /*the width of the content of an element*/
    margin-right: auto; /*configures the space in the 
    right margin of the margin*/
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;/*configures a minimum width for an element*/
    max-width: 1280px;
    box-shadow: 3px 3px 3px 2px #333333; 
}

nav a {
    text-decoration: none; /*remove default underline*/
}

nav a:link {
    color: #fef6c2;
}

nav a:visited {
    color: red;
}

nav a:hover {
    color: #fef6c2;
}

nav ul {
    list-style-type: none;/*remove link marker ex: dot in list*/
    padding-left: 0;
}


h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    padding-bottom: 0;
    clear: left; /*often used to terminate or clear a float*/
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    margin-left: 200px;
    padding-top: 0;
    background-color: #fef6c2;
    display: block;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;/*often use to clear a float although its intended
    purpose is to confgure how content should display if it is too large
    for the area allocated. Auto = if needed, scrollbar are displayed to allow access
    to the remaining content*/
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url('javajam img/heroroad.jpg');
    background-size: 100% 100%;/*w h*/
    height: 250px;
}

#heromugs {
    background-image: url('javajam img/heromugs.jpg');
    background-size: 100% 100%;
    height: 250px;
}

#heroguitar {
    background-image: url('javajam img/heroguitar.jpg');
    background-size: 100% 100%;
    height: 250px;
}

#herojobs {
    background-image: url('javajam img/herojobs.jpg');
    background-size: 100% 100%;
    height: 250px;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-left: 2em;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}

td,th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #d2b48c;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

